<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mart_Management_System.Properties.Settings.MartManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-6ULAPOO\SQLEXPRESS;Initial Catalog=MartManagementSystem;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>